##############################
#                            #
# Ansible / Tower managed on #
#                            #
##############################

<IfModule mod_evasive20.c>
    DOSHashTableSize 4096
    DOSPageCount 32
    DOSSiteCount 256
    DOSPageInterval 1
    DOSSiteInterval 1
    DOSBlockingPeriod 60
</IfModule>
