##############################
#                            #
# Ansible / Tower managed on #
#                            #
##############################

<IfModule mod_headers.c>
        Header always set Strict-Transport-Security "max-age=63072002; includeSubDomains; preload"
        Header always set X-XSS-Protection "1; mode=block"
        Header always set X-Frame-Options "SAMEORIGIN"
        Header always set X-Content-Type-Options "nosniff"
        Header always set Feature-Policy "autoplay 'none'; camera 'none'"
        Header always set Access-Control-Allow-Origin "*"
        Header always set Permissions-Policy "geolocation=();midi=();notifications=();push=();sync-xhr=();microphone=();camera=();magnetometer=();gyroscope=();speaker=(self);vibrate=();fullscreen=(self);payment=();"
        Header always set Referrer-Policy "same-origin"
        Header always set Content-Security-Policy ""
</IfModule>