    # Nextcloud default Apache  and FPM configuration AS EXAMPLE DO NO USE IT

    Alias {{ conf.alias.url }} {{ conf.alias.path }}/

    <Directory {{ conf.nextcloud_data_path}}>
        Require all granted
        AllowOverride All
        Options FollowSymLinks MultiViews
    </Directory>

    <Directory {{ conf.alias.path }}>
        Require all granted
        AllowOverride All
        Options FollowSymLinks MultiViews

        <IfModule mod_dav.c>
            Dav off
        </IfModule>

        <IfModule mod_headers.c>
            Header always set Strict-Transport-Security "max-age=15552000; includeSubDomains"
        </IfModule>

        <IfModule mod_php5.c>
            <IfModule mod_mime.c>
                AddType application/x-httpd-php .php
            </IfModule>

            <FilesMatch ".+\.php$">
                SetHandler application/x-httpd-php
            </FilesMatch>
        </IfModule>

        <IfModule mod_php.c>
            <IfModule mod_mime.c>
                AddType application/x-httpd-php .php
            </IfModule>

            <FilesMatch ".+\.php$">
                SetHandler application/x-httpd-php
            </FilesMatch>
        </IfModule>

        <IfModule mod_fastcgi.c>
            AddHandler php{{ conf.php_fpm_version }}-fcgi .php
            Action php{{ conf.php_fpm_version }}-fcgi /php{{ conf.php_fpm_version }}-fcgi
            Alias /php{{ conf.php_fpm_version }}-fcgi /usr/lib/cgi-bin/php{{ conf.php_fpm_version }}-fcgi
            FastCgiExternalServer /usr/lib/cgi-bin/php{{ conf.php_fpm_version }}-fcgi -socket /var/run/{{ conf.fpm_pool }}-fpm.sock -pass-header  Authorization

            <Directory /usr/lib/cgi-bin>
                Require all granted
            </Directory>
        </IfModule>

        # Redirect to local php-fpm if mod_php is not available
        <IfModule proxy_fcgi_module>
            # Enable http authorization headers
            <IfModule setenvif_module>
            SetEnvIfNoCase ^Authorization$ "(.+)" HTTP_AUTHORIZATION=$1
            </IfModule>

            # Using (?:pattern) instead of (pattern) is a small optimization that
            # avoid capturing the matching pattern (as $1) which isn't used here
            <FilesMatch ".+\.ph(?:ar|p|tml)$">
                SetHandler "proxy:unix:/var/run/{{ conf.fpm_pool }}-fpm.sock|fcgi://localhost"
            </FilesMatch>

        #The default configuration works for most of the installation, however it could
        #be improved in various ways. One simple improvement is to not pass files that
        #doesn't exist to the handler as shown below, for more configuration examples
        #see https://wiki.apache.org/httpd/PHP-FPM
            <FilesMatch ".+\.ph(?:ar|p|tml)$">
                <If "-f %{REQUEST_FILENAME}">
                    SetHandler "proxy:unix:/var/run/{{ conf.fpm_pool }}-fpm.sock|fcgi://localhost"
                </If>
            </FilesMatch>

            <FilesMatch ".+\.phps$">
                # Deny access to raw php sources by default
                # To re-enable it's recommended to enable access to the files
                # only in specific virtual host or directory
                Require all denied
            </FilesMatch>
            # Deny access to files without filename (e.g. '.php')
            <FilesMatch "^\.ph(?:ar|p|ps|tml)$">
                Require all denied
            </FilesMatch>
        </IfModule>
    </Directory>
