<?php

/**
* ##############################
* #                            #
* # Ansible / Tower managed on #
* #                            #
* ##############################
*/

$CONFIG = [
    'maintenance' => false,
{% if install_nextcloud__instanceid | default(false) %}
    'installed' => true,
    'instanceid' => '{{ install_nextcloud__instanceid }}',
    'passwordsalt' => '{{ install_nextcloud__passwordsalt }}',
    'secret' => '{{ install_nextcloud__secret }}',
{% else %}
    'installed' => false,
{% endif %}
    'mysql.utf8mb4' => true,
    'trusted_domains' => [
    {% for domain in install_nextcloud__trusted_domains | default([]) %}
        "{{ domain }}",
    {% endfor %}
    ],
    'trusted_proxies' => [
{% for proxy in install_nextcloud__trusted_proxies | default([]) %}
        "{{ proxy }}",
{% endfor %}
    ],
    
    'datadirectory' => '{{ install_nextcloud__install_data_path }}',
    'version' => '{{ install_nextcloud__version }}',
    'tempdirectory' => '{{ install_nextcloud__install_path }}/tmp',
    
    'dbtype' => 'mysql',
    'dbhost' => '{{ install_nextcloud__mysql_host }}',
    'dbport' => '{{ install_nextcloud__mysql_port }}',
    'dbname' => '{{ install_nextcloud__mysql_database }}',
    'dbuser' => '{{ install_nextcloud__mysql_user }}',
    'dbpassword' => '{{ install_nextcloud__mysql_password }}',
    'dbtableprefix' => 'oc_',
{% if install_nextcloud__mysql_attr_ssl_ca | default(false) %}
    'dbdriveroptions' => [
        'PDO::MYSQL_ATTR_INIT_COMMAND' => 'SET wait_timeout = 28800',
        'PDO::MYSQL_ATTR_SSL_CA' => '{{ install_nextcloud__mysql_attr_ssl_ca }}',
{% if install_nextcloud__mysql_attr_ssl_key | default(false) %}
        'PDO::MYSQL_ATTR_SSL_KEY' => '{{ install_nextcloud__mysql_attr_ssl_key }}',
        'PDO::MYSQL_ATTR_SSL_CERT' => '{{ install_nextcloud__mysql_attr_ssl_crt }}',
{% endif %}
        'PDO::MYSQL_ATTR_SSL_VERIFY_SERVER_CERT' => {{ install_nextcloud__mysql_attr_ssl_verify_server_cert }}
    ],
{% endif %}
    
    'default_language' => 'en',
    'force_language' => 'en',
    'default_locale' => '{{ install_nextcloud__default_locale }}',
    'default_phone_region' => '{{ install_nextcloud__default_phone_region }}',
    'force_locale' => '{{ install_nextcloud__force_locale }}',
    'default_timezone' => '{{ install_nextcloud__default_timezone }}',
    'knowledgebaseenabled' => true,
    'knowledgebase.embedded' => false,
    'allow_user_to_change_display_name' => true,
    
    'skeletondirectory' => '{{ install_nextcloud__install_path }}/nextcloud/core/skeleton',
    'templatedirectory' => '{{ install_nextcloud__install_path }}/nextcloud/templates',
    
    'remember_login_cookie_lifetime' => 60*60*24*15,
    'session_lifetime' => 60 * 60 * 24,
    'davstorage.request_timeout' => 30,
    'session_relaxed_expiry' => false,
    'session_keepalive' => true,
    'auto_logout' => false,
    'token_auth_enforced' => false,
    'token_auth_activity_update' => 60,
    
    'auth.bruteforce.protection.enabled' => true,
    'auth.bruteforce.protection.testing' => false,
    'ratelimit.protection.enabled' => true,
    'auth.webauthn.enabled' => true,
    'auth.storeCryptedPassword' => true,
    'hide_login_form' => false,
    
    'overwritehost' => '{{ install_nextcloud__overwritehost }}',
    'overwriteprotocol' => '{{ install_nextcloud__owerwriteprotocol }}',
    'overwrite.cli.url' => '{{ install_nextcloud__owerwritecliurl }}',
    
    'htaccess.RewriteBase' => '/',
    'htaccess.IgnoreFrontController' => false,
    'allow_local_remote_servers' => true,
    
    'trashbin_retention_obligation' => 'auto',
    'versions_retention_obligation' => 'auto',
    
    'appcodechecker' => true,
    'updatechecker' => true,
    'updater.release.channel' => 'stable',
    'has_internet_connection' => true,
    'connectivity_check_domains' => [
        'www.nextcloud.com',
        'www.startpage.com',
        'www.eff.org',
        'www.edri.org'
    ],
    
    'check_for_working_wellknown_setup' => true,
    'check_for_working_htaccess' => true,
    'check_data_directory_permissions' => true,
    
    'log_type' => 'file',
    'log_type_audit' => 'file',
    'logfile' => '{{ install_nextcloud__install_path }}/nextcloud.log',
    'logfile_audit' => '{{ install_nextcloud__install_path }}/audit.log',
    'logfilemode' => '0755',
    'loglevel' => {{ install_nextcloud__loglevel }},
    'loglevel_frontend' => {{ install_nextcloud__loglevel }},
    'log.backtrace' => false,
    'logdateformat' => 'F d, Y H:i:s',
    'logtimezone' => '{{ install_nextcloud__default_timezone }}',
    'log_query' => false,
    'log_rotate_size' => 100 * 1024 * 1024,
    'debug' => {{ install_nextcloud__debug }},
    
{% if install_nextcloud__redis_host | default(false) %}
    'memcache.locking' => '\\OC\\Memcache\\Redis',
    'filelocking.enabled' => true,
    'memcache.distributed' => '\\OC\\Memcache\\Redis',
    'memcache.local' => '\\OC\\Memcache\\Redis',
    'filelocking.ttl' => 3600,
    'redis' => [
        'host' => '{{ install_nextcloud__redis_host }}', // can also be a unix domain socket: '/tmp/redis.sock'
        'port' => '{{ install_nextcloud__redis_port }}',
        'password' => '{{ install_nextcloud__redis_password }}', // Optional: if not defined, no password will be used.
    ],
{% endif %}
{% if install_nextcloud__redis_host | default(false) %}
    'mail_from_address' => '{{ install_nextcloud__mail_from_address }}',
    'mail_smtpmode' => '{{ install_nextcloud__mail_smtpmode }}',
    'mail_sendmailmode' => '{{ install_nextcloud__mail_sendmailmode }}',
    'mail_domain' => '{{ install_nextcloud__mail_domain }}',
    'mail_smtphost' => '{{ install_nextcloud__mail_smtphost }}',
    'mail_smtpport' => '{{ install_nextcloud__mail_smtpport }}',
{% endif %}
];
