<?php

$CONFIG = [
	'installed' => false,
	'maintenance' => false,

	'trusted_domains' => [
	{% for domain in install_nextcloud_trusted_domains | default([]) %}
		"{{ domain }}",
	{% endfor %}
	],
	'trusted_proxies' => [
	{% for proxy in install_nextcloud_trusted_proxies | default([]) %}
		"{{ proxy }}",
	{% endfor %}
	],

	'datadirectory' => '{{ install_nextcloud_install_data_path }}',
	'version' => '{{ install_nextcloud_version }}',
	'tempdirectory' => '{{ install_nextcloud_install_path }}/tmp',

	'dbtype' => 'mysql',
	'dbhost' => '{{ install_nextcloud_mysql_host }}',
	'dbname' => '{{ install_nextcloud_mysql_database }}',
	'dbuser' => '{{ install_nextcloud_mysql_user }}',
	'dbpassword' => '{{ install_nextcloud_mysql_password }}',
	'dbtableprefix' => 'oc_',
	{% if install_nextcloud_mysql_attr_ssl_ca | default(false) %}
	'dbdriveroptions' => [
		'PDO::MYSQL_ATTR_INIT_COMMAND' => 'SET wait_timeout = 28800',
		'PDO::MYSQL_ATTR_SSL_CA' => '{{ install_nextcloud_mysql_attr_ssl_ca }}',
	{% if install_nextcloud_mysql_attr_ssl_key | default(false) %}
		'PDO::MYSQL_ATTR_SSL_KEY' => '{{ install_nextcloud_mysql_attr_ssl_key }}',
		'PDO::MYSQL_ATTR_SSL_CERT' => '{{ install_nextcloud_mysql_attr_ssl_crt }}',
	{% endif %}
		'PDO::MYSQL_ATTR_SSL_VERIFY_SERVER_CERT' => {{ install_nextcloud_mysql_attr_ssl_verify_server_cert }}
	],
	{% endif %}

	'default_language' => 'en',
	'force_language' => 'en',
	'default_locale' => '{{ install_nextcloud_default_locale }}',
	'default_phone_region' => '{{ install_nextcloud_default_phone_region }}',
	'force_locale' => '{{ install_nextcloud_force_locale }}',
	'default_timezone' => '{{ install_nextcloud_default_timezone }}',
	'knowledgebaseenabled' => true,
	'knowledgebase.embedded' => false,
	'allow_user_to_change_display_name' => true,

	'skeletondirectory' => '{{ install_nextcloud_install_path }}/nextcloud/core/skeleton',
	'templatedirectory' => '{{ install_nextcloud_install_path }}/nextcloud/templates',

	'remember_login_cookie_lifetime' => 60*60*24*15,
	'session_lifetime' => 60 * 60 * 24,
	'davstorage.request_timeout' => 30,
	'session_relaxed_expiry' => false,
	'session_keepalive' => true,
	'auto_logout' => false,
	'token_auth_enforced' => false,
	'token_auth_activity_update' => 60,

	'auth.bruteforce.protection.enabled' => true,
	'auth.bruteforce.protection.testing' => false,
	'ratelimit.protection.enabled' => true,
	'auth.webauthn.enabled' => true,
	'auth.storeCryptedPassword' => true,
	'hide_login_form' => false,

	'overwritehost' => '{{ install_nextcloud_overwritehost }}',
	'overwriteprotocol' => '{{ install_nextcloud_owerwriteprotocol }}',
	'overwrite.cli.url' => '{{ install_nextcloud_owerwritecliurl }}',

	'htaccess.RewriteBase' => '/',
	'htaccess.IgnoreFrontController' => false,
	'allow_local_remote_servers' => true,

	'trashbin_retention_obligation' => 'auto',
	'versions_retention_obligation' => 'auto',

	'appcodechecker' => true,
	'updatechecker' => true,
	'updater.release.channel' => 'stable',
	'has_internet_connection' => true,
	'connectivity_check_domains' => [
		'www.nextcloud.com',
		'www.startpage.com',
		'www.eff.org',
		'www.edri.org'
	],

	'check_for_working_wellknown_setup' => true,
	'check_for_working_htaccess' => true,
	'check_data_directory_permissions' => true,

	'log_type' => 'file',
	'log_type_audit' => 'file',
	'logfile' => '{{ install_nextcloud_install_path }}/nextcloud.log',
	'logfile_audit' => '{{ install_nextcloud_install_path }}/audit.log',
	'logfilemode' => 0755,
	'loglevel' => {{ install_nextcloud_loglevel }},
	'loglevel_frontend' => {{ install_nextcloud_loglevel }},
	'log.backtrace' => false,
	'logdateformat' => 'F d, Y H:i:s',
	'logtimezone' => '{{ install_nextcloud_default_timezone }}',
	'log_query' => false,
	'log_rotate_size' => 100 * 1024 * 1024,
	'debug' => {{ install_nextcloud_debug }},

	{% if install_nextcloud_redis_host | default(false) %}
	'memcache.locking' => '\\OC\\Memcache\\Redis',
	'filelocking.enabled' => true,
	'memcache.distributed' => '\\OC\\Memcache\\Redis',
	'memcache.local' => '\\OC\\Memcache\\Redis',
	'redis' => [
		'host' => '{{ install_nextcloud_redis_host }}', // can also be a unix domain socket: '/tmp/redis.sock'
		'port' => {{ install_nextcloud_redis_port }},
		'password' => '{{ install_nextcloud_redis_password }}', // Optional: if not defined, no password will be used.
	],
	{% endif %}
];
